{% load static %}

{% block header %}
<header class="header">
    <div class="header__wrapper">
        <div class="search__wrapper">
            <form action="" method="get">
                {% csrf_token %}
                <input name="search" type="text" value="" class="header-search" />
            </form>
        </div>
            <ul class="buttons">
                <li><div class="main-logo"><a href="/" class="logo-link">
                <img src="{% static 'clt/img/svg/Logo.svg' %}" alt="Главная" class="logo__thumb" /></a></div></li>
                <li><a class="btn-link" href="{% url 'clt:clients' %}">Клиенты</a></li>
                <li><a class="btn-link" href="#!">Наши IP</a></li>
                <li><a class="btn-link" href="#!">Офисные шлюзы</a></li>
                <li><a class="btn-link" href="#!">Logs</a></li>
                <li><a class="btn-link" href="#!">Задачи</a></li>
                <li><a class="btn-link" href="#!">База знаний</a></li>
                <li><a class="btn-link" href="https://support.cleverty.com.ua/mediawiki">Наша Wiki</a></li>
            </ul>
        <div id="setting-btn" >
            <img src="{% static 'clt/img/png/settings.png' %}" alt="Настройки" class="setting__thumb" />
        </div>
    </div>

</header>
{% endblock %}
