{% load static %}
{% block sidebar %}

    <div class="sidebar__wrapper">
            <div class="last-logs__title">
                <h2>Последние Логи</h2>
            </div>
            <div class="cards">
                <ul>
                    <li>
                        <div class="card">
                            <div class="last-log__title-wrapper">
                                <h3 class="last-log__title">Doroshenko D. 12.04.2020</h3>
                            </div>
                            <div class="last-log__content">
                                <p><a href="#!">hostname</a>: information about jobasdsdf</p>
                                <p><a href="#!">hostname</a>: information about job</p>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="last-log__title-wrapper">
                                <h3 class="last-log__title">Doroshenko D. 12.04.2020</h3>
                            </div>
                            <div class="last-log__content">
                                <p><a href="#!">hostname</a>: information about job</p>
                                <p><a href="#!">hostname</a>: information about job</p>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="last-log__title-wrapper">
                                <h3 class="last-log__title">Doroshenko D. 12.04.2020</h3>
                            </div>
                            <div class="last-log__content">
                                <p><a href="#!">hostname</a>: information about job</p>
                                <p><a href="#!">hostname</a>: information about job</p>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="last-log__title-wrapper">
                                <h3 class="last-log__title">Doroshenko D. 12.04.2020</h3>
                            </div>
                            <div class="last-log__content">
                                <p><a href="#!">hostname</a>: information about job</p>
                                <p><a href="#!">hostname</a>: information about job</p>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="last-tasks__title">
                <h2>Последние Задачи</h2>
            </div>
            <div class="cards">
                <ul>
                    <li>
                        <div class="card">
                            <div class="last-task__title-wrapper">
                                <a href="#!" class="last-task__title-hostname">Hostname</a>
                                <span class="last-task__title-category">Category</span>
                            </div>
                            <div class="last-task__content">
                                <a href="#!">Title of task</a>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="last-task__title-wrapper">
                                <a href="#!" class="last-task__title-hostname">Hostname</a>
                                <span class="last-task__title-category">Category</span>
                            </div>
                            <div class="last-task__content">
                                <a href="#!">Title of task</a>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="last-task__title-wrapper">
                                <a href="#!" class="last-task__title-hostname">Hostname</a>
                                <span class="last-task__title-category">Category</span>
                            </div>
                            <div class="last-task__content">
                                <a href="#!">Title of task</a>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="last-task__title-wrapper">
                                <a href="#!" class="last-task__title-hostname">Hostname</a>
                                <span class="last-task__title-category">Category</span>
                            </div>
                            <div class="last-task__content">
                                <a href="#!">Title of task</a>
                            </div>
                            <div class="last-log__detail">
                                <a href="#!" class="last-log__detail-link">Подробнее</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>

{% endblock %}