<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for f in form %}
            {{f}}
            {%endfor%}
            <button type="submit">Submit</button>
        </form>
    {% elif data %}
        {{data}}
        <form action="" method="POST">
            {%csrf_token%}
            {{formset.as_p}}
            <button type="submit">Save</button>
        </form>
    {% elif object_list %}

        {% for test in object_list %}
            <p>{{test}}</p>
        {% endfor %}

    {% endif %}
</body>
</html>