{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'clt/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'clt/img/png/logo-fav.png' %}" />
</head>
<body>
    {% include "header.html" %}
    {% block header %}{% endblock %}
        {% include 'settings-panel.html' %}
        {% block settings %}{% endblock %}
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
    {% block footer %}{% endblock %} 
</body>
</html>
<script src="{% static 'clt/js/clt_main.js' %}"></script>