{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>{{ client.name }}</title>{% endblock %}
{% block content %}

<main class="main-wrapper__white">
    <div class="client-title__block">
        <h1 class="client-title">{{ client.name }} {% if client.title_comment %}({{ client.title_comment }}){% endif %}</h1>
        <button id="change-client" class="button-st button-blue"><a href="{% url 'clt:client-change' pk=client.id %}" class="button-link">Изменить</a></button>
    </div>
    <div class="info-row">
        <p class="info-title">IP-port сервера:</p>
        <p class="info-row__text">
            {% for ip in ip_list %}
            <span class="ip-port__info">{{ ip.ip }}:{{ ip.port }}</span>
            {% endfor %}
        </p>
        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
        <button class="section-add-info" id="add-ip-port__link">Добавить ip-port</button>
    </div>
    <div class="info-row">
        <p class="info-title">Хостнейм сервера:</p>
        <p class="info-row__text">{{ client.hostname }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Локальный IP сервера:</p>
        <p class="info-row__text">{{ client.local_ip }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Информация о роутере:</p>
        <p class="info-row__text">{{ client.gateway_info }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Офисные IP:</p>
        <p class="info-row__text">{% if client.officeIp1 %}<span class="ip-port__info">{{ client.officeIp1 }}</span>{% endif %}
            {% if client.officeIp2 %}<span class="ip-port__info">{{ client.officeIp2 }}</span>{% endif %}
            {% if client.officeIp3 %}<span class="ip-port__info">{{ client.officeIp3 }}</span>{% endif %}
            {% if client.officeIp4 %}<span class="ip-port__info">{{ client.officeIp4 }}</span>{% endif %}
        </p>
    </div>
    <div class="info-row">
        <p class="info-title">Дополнительная информация:</p>
        <p class="info-row__text">{{ client.additional_info }}</p>
    </div>
        <div class="info-row">
        <p class="info-title">Дата подключения:</p>
        <p class="info-row__text">{% if client.date_on != None %}{{ client.date_on }}{% endif %}</p>
    </div>
    {% if client.client_status == 'Off' %}
        <div class="info-row">
            <p class="info-title">Дата отключения:</p>
            <p class="info-row__text">{{ client.date_off }}</p>
        </div>
    {% endif %}
    <div class="section-title__block">
        <h2 class="section-title">ИНФОРМАЦИЯ О СЕРВЕРЕ</h2>
    </div>
    <div class="info-row">
        <p class="info-title">Наша VPS:</p>
        {% if client.vps_own %}
            <p class="info-row__text">Да</p>
        {% else %}
            <p class="info-row__text">Нет</p>
        {% endif %}
    </div>
    <div class="info-row">
        <p class="info-title">Версия OS:</p>
        <p class="info-row__text">{{ client.os_version }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Версия Asterisk:</p>
        <p class="info-row__text">{{ client.ast_version }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Версия CCS:</p>
        <p class="info-row__text">{{ client.ccs_version }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Логин CCS:</p>
        <p class="info-row__text">{{ client.login_ccs }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Пароль CCS:</p>
        <p class="info-row__text">{{ client.secret_ccs }}</p>
    </div>
    <div class="info-row">
        <p class="info-title">Максимальная версия C-Phone:</p>
        <p class="info-row__text">{{ client.cphone_maxvers }}</p>
    </div>

    <div class="section-title__block">
        <h2 class="section-title">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <button class="section-add-info" id="add-number__link">Добавить номер</button>
    </div>
    {% for number in numbers %}
        {% if number.hide == False %}
            <div class="contact-row">
                <p class="name-number"><span class="name">Имя:</span>{{ number.name }}<span class="number">Номер:</span>{{ number.number }}</p>
                <p class="contact-comment"><span class="comment-title">Комментарий:</span>{{ number.comment }}</p>
            </div>
        {% endif %}
    {% endfor %}

    <div class="section-title__block">
        <h2 class="section-title">ШЛЮЗЫ</h2>
        <button class="section-add-info" id="add-gateway__link">Добавить шлюз</button>
    </div>
    {% for gateway in gateways %}
        <div class="gateway-row__block">
            <p class="gateway-row">
                <span class="gateway-ip">IP: {{ gateway.ip }}</span>
                <span class="gateway-port">Port: {{ gateway.port }}</span>
                <span class="gatewa-login">Логин: {{ gateway.login }}</span>
                <span class="gatewa-password">Пароль: {{ gateway.secret }}</span>
                <span class="gateway-vendor">Вендор оборудования: {{ gateway.type_gateway }}</span>
            </p>
        </div>
    {% endfor %}
</main>

{% endblock %}