{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Клиенты</title>{% endblock %}
{% block content %}

<main class="main-wrapper">
    <div class="container">

        <!--section active clients start-->

        <section class="active-clients">
            <div class="title-block">
                <h2 class="title">активные клиенты</h2>
            </div>

            <div class="addition-info__title-block coutry-title">
                <h3 class="addition-info__title">Украина</h3>
            </div>
            <p class="city-title">Киев</p>
            <ul class="clients">
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
            </ul>
            <p class="city-title">Киев</p>
            <ul class="clients">
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
            </ul>
            <div class="addition-info__title-block coutry-title">
                <h3 class="addition-info__title">Украина</h3>
            </div>
            <p class="city-title">Киев</p>
            <ul class="clients">
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
            </ul>
            <p class="city-title">Киев</p>
            <ul class="clients">
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
                <li class="client">
                    <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                    <a href="#!" class="client-edit__link">Редактировать</a>
                </li>
            </ul>
        </section>

        <!--section active clients end-->

        <!--section potential clients start-->
        <section class="potential-disabled">
            <div class="potential-clients">
                <div class="title-block">
                    <h2 class="title">потенциальные клиенты</h2>
                </div>

                <ul class="clients">
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                </ul>
            </div>

            <!--section potential clients end-->

            <!--section disabled clients start-->

            <div class="disabled-clients">
                <div class="title-block">
                    <h2 class="title">отключенные клиенты</h2>
                </div>

                <ul class="clients">
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                    <li class="client">
                        <p><a href="#!" class="client-link">Client name</a>(title comment)</p>
                        <a href="#!" class="client-edit__link">Редактировать</a>
                    </li>
                </ul>
            </div>
        </section>

        <!--section disabled clients end-->

        <!--section buttons clients start-->

            <section class="buttons__clients">
                <button id="add-client" class="button-st button-blue"><a href="#!" class="button-link">Добавить клиента</a></button>
                <button id="add-country" class="button-st button-orange">Добавить страну</button>
                <button id="add-city" class="button-st button-orange">Добавить город</button>
                <button id="add-number" class="button-st button-orange">Добавить номер телефона</button>
            </section>

        <!--section buttons clients end-->

    </div>
</main>

{% endblock %}