{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>HOSTNAME</title>{% endblock %}
{% block content %}

<main class="main-wrapper__white">
    <div class="client-title__block">
        <h1 class="client-title">Client Name (title comment)</h1>
        <button id="change-client" class="button-st button-blue"><a href="#!" class="button-link">Изменить</a></button>
    </div>
    <div class="info-row">
        <p class="info-title">IP-port сервера:</p>
        <p class="info-row__text"><span class="ip-port__info">255.255.255.255:22</span><span class="ip-port__info">255.255.255.255:22</span></p>
        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
        <button class="section-add-info" id="add-ip-port__link">Добавить ip-port</button>
    </div>
    <div class="info-row">
        <p class="info-title">Хостнейм сервера:</p>
        <p class="info-row__text">hostname</p>
    </div>
    <div class="info-row">
        <p class="info-title">Локальный IP сервера:</p>
        <p class="info-row__text">192.168.1.111</p>
    </div>
    <div class="info-row">
        <p class="info-title">Информация о роутере:</p>
        <p class="info-row__text">admin/admin</p>
    </div>
    <div class="info-row">
        <p class="info-title">Офисные IP:</p>
        <p class="info-row__text"><span class="ip-port__info">255.255.255.255</span><span class="ip-port__info">255.255.255.255</span></p>
    </div>
    <div class="info-row">
        <p class="info-title">Дополнительная информация:</p>
        <p class="info-row__text">С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

            Равным образом новая модель...</p>
    </div>
    <div class="info-row">
        <p class="info-title">Дата подключения:</p>
        <p class="info-row__text">20.04.2020</p>
    </div>

    <div class="section-title__block">
        <h2 class="section-title">ИНФОРМАЦИЯ О СЕРВЕРЕ</h2>
    </div>
    <div class="info-row">
        <p class="info-title">Наша VPS:</p>
        <p class="info-row__text">Да</p>
    </div>
    <div class="info-row">
        <p class="info-title">Версия OS:</p>
        <p class="info-row__text">Ubuntu 14.04</p>
    </div>
    <div class="info-row">
        <p class="info-title">Версия Asterisk:</p>
        <p class="info-row__text">Версия Asterisk:</p>
    </div>
    <div class="info-row">
        <p class="info-title">Версия CCS:</p>
        <p class="info-row__text">3.4</p>
    </div>
    <div class="info-row">
        <p class="info-title">Логин CCS:</p>
        <p class="info-row__text">test-login</p>
    </div>
    <div class="info-row">
        <p class="info-title">Пароль CCS:</p>
        <p class="info-row__text">sdfsdf2312s</p>
    </div>

    <div class="section-title__block">
        <h2 class="section-title">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <button class="section-add-info" id="add-number__link">Добавить номер</button>
    </div>
    <div class="contact-row">
        <p class="name-number"><span class="name">Имя:</span>Константин<span class="number">Номер:</span>380665715711</p>
        <p class="contact-comment"><span class="comment-title">Комментарий:</span>С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.</p>
    </div>
    <div class="contact-row">
        <p class="name-number"><span class="name">Имя:</span>Константин<span class="number">Номер:</span>380665715711</p>
        <p class="contact-comment"><span class="comment-title">Комментарий:</span>С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.</p>
    </div>

    <div class="section-title__block">
        <h2 class="section-title">ШЛЮЗЫ</h2>
        <button class="section-add-info" id="add-gateway__link">Добавить шлюз</button>
    </div>
    <div class="gateway-row__block">
        <p class="gateway-row">
            <span class="gateway-ip">IP: 192.168.122.254</span>
            <span class="gateway-port">Port: 80</span>
            <span class="gatewa-login">Логин: admin</span>
            <span class="gatewa-password">Пароль: sjj23FF123123kjlkjjd3</span>
            <span class="gateway-vendor">Вендор оборудования: GoIp</span>
        </p>
    </div>
    <div class="gateway-row__block">
        <p class="gateway-row">
            <span class="gateway-ip">IP: 192.168.122.254</span>
            <span class="gateway-port">Port: 80</span>
            <span class="gateway-login">Логин: admin</span>
            <span class="gateway-password">Пароль: sjj23FF123123kjlkjjd3</span>
            <span class="gateway-vendor">Вендор оборудования: GoIp</span>
        </p>
    </div>
</main>

{% endblock %}