{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Клиенты</title>{% endblock %}
{% block content %}
<main class="main-wrapper__flex">
    <div class="clients-block active_clients">
        <div class="clients-block__title">
            <h2>Активные клиенты</h2>
        </div>
        <p class="coutry-title">
            Украина
        </p>
        <p class="city-title">Киев</p>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <p class="city-title">Бровары</p>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
    </div>
    <div class="clients-block">
        <div class="clients-block__title">
            <h2>Потенциальные клиенты</h2>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
    </div>
    <div class="clients-block">
        <div class="clients-block__title">
            <h2>Отключенные клиенты клиенты</h2>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
        <div class="client-row">
            <a href="#!" class="client-row__name">Client-name (title comment)</a>
            <p class="client-row__edit">Редактировать</p>
        </div>
    </div>
</main>



{% endblock %}