{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Клиенты</title>{% endblock %}
{% block content %}
<div id="new-reminder__wrapper" class="new-reminder__wrapper">
    <div class="reminder-add">
        <input tabindex="3" id="close-reminder-add" type="image" src="{% static 'clt/img/svg/close.svg' %}">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" maxlength="50" tabindex="1" name="new-reminder__content" autofocus></textarea>
            <button  tabindex="2" id="new-reminder__create" type="submit">Добавить</button>
        </form>
    </div>
</div>
<main class="main-wrapper__flex">     
    <div class="main-block__clients">
        <div class="clients-block active-clients">
            <div class="clients-block__title active-clients">
                <h2>Активные клиенты</h2>
            </div>
            <p class="coutry-title">
                Украина
            </p>
            <p class="city-title">Киев</p>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <p class="city-title">Бровары</p>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <p class="coutry-title">
                Украина
            </p>
            <p class="city-title">Киев</p>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <p class="city-title">Бровары</p>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <p class="coutry-title">
                Украина
            </p>
            <p class="city-title">Киев</p>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <p class="city-title">Бровары</p>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
        </div>

        <div class="clients-block potencial-clients">
            <div class="clients-block__title active-clients__title">
                <h2>Потенциальные клиенты</h2>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
        </div>

        <div class="clients-block disabled-clients">
            <div class="clients-block__title">
                <h2>Отключенные клиенты клиенты</h2>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
            <div class="client-row">
                <a href="#!" class="client-row__name">Client-name <span>(title comment)</span></a>
                <a href='#!' class="client-row__edit"><img src="{% static 'clt/img/svg/pencil.svg' %}"></img> Редактировать</a>
            </div>
        </div>

        <div class="clients-buttons">
            <a class="clients-button add-client" href="#!">Добавить клиента</a>
            <button id="add-country" class="clients-button add-country">Добавить страну</button>
            <button class="clients-button add-city">Добавить город</button>
            <button class="clients-button add-number">Добавить номер телефона</button>
        </div>
    </div>
</main>



{% endblock %}