{% load static %}

{% block header %}
<header class="header">
    <div class="header__wrapper">
        <div class="search__wrapper">
            <form action="" method="post">
                {% csrf_token %}
                <input name="search" type="text" value="" class="header-search" />
            </form>
        </div>
        <div class="main-logo">
            <a href="/" class="logo-link">
                <img src="{% static 'clt/img/svg/Logo.svg' %}" alt="Главная" class="logo__thumb" />
            </a>
        </div>
        <nav class="header-menu">
            <ul class="buttons">
                <li><div class="button"><a class="btn-link" href="#!">Клиенты</a></div></li>
                <li><div class="button"><a class="btn-link" href="#!">Наши IP</a></div></li>
                <li><div class="button"><a class="btn-link" href="#!">Logs</a></div></li>
                <li><div class="button"><a class="btn-link" href="#!">Задачи</a></div></li>
                <li><div class="button"><a class="btn-link" href="#!">База знаний</a></div></li>
                <li><div class="button"><a class="btn-link" href="#!">Наша Wiki</a></div></li>
            </ul>
        </nav>
        <div class="setting-btn">
            <img src="{% static 'clt/img/png/settings.png' %}" alt="Настройки" class="setting__thumb" />
        </div>
    </div>

</header>
{% endblock %}
