{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}
    <div id="new-reminder__wrapper" class="new-reminder__wrapper">
        <div class="reminder-add">
            <input id="close-reminder-add" type="image" src="{% static 'clt/img/svg/close.svg' %}">
            <form action="" method="post">
                {% csrf_token %}
                <textarea name="new-reminder__content"></textarea>
                <button id="new-reminder__create" type="submit">Добавить</button>
            </form>
        </div>
    </div>
    <main class="main-wrapper">
        <div class="last-active">
            <ul>
                <li><h2 class="title-last_active">Последняя активность</h2></li>
                <li class="item-last_active">
                    <a class="client-last_active" href="#!">Client name</a>
                    <input type="image" title="ssh-connect" class="active-pic btn-ssh" src="{% static 'clt/img/png/ssh-button.png' %}" />
                </li>
                <li class="item-last_active">
                    <a class="client-last_active" href="#!">Client name</a>
                    <input type="image" title="ssh-connect" class="active-pic btn-ssh" src="{% static 'clt/img/png/ssh-button.png' %}" />
                </li>
            </ul>
        </div>
        <div class="reminder__wrapper">
            <div class="reminder-title__wrapper">
                <div class="reminder-title"><h2>НАПОМИНАНИЯ</h2></div>
                <div class="reminder-title__thumb"><input id="btn-add" class="btn-add" src="{% static 'clt/img/svg/add.svg' %}" title="Добавить напоминание" type="image" name="add_reminder" value="1" /></div>
            </div>
            <ul class="reminders">
                <li>
                    <div class="reminder">
                        <div class="reminder-pick"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                 <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="reminder">
                        <div class="reminder-pick read"><img src="{% static 'clt/img/svg/notifier.svg' %}" /></div>
                        <div class="reminder-text">
                            <p>
                                С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                                Равным образом новая модель...
                            </p>
                        </div>
                        <div class="reminder-info">
                            <p>
                                Doroshenko D. 12.04.2020 11:00
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock %}
    </main>
{% endblock %}