{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Discover Amazing places in Japan</title>
        <link rel="stylesheet" href="{% static 'clt/css/style.css' %}">
    </head>
    <body>
        <!--Header start-->
        <header class="header">
            <div class="wrapper">
                <div class="header__wrapper">

                    <div class="header__logo">
                        <a href="/" class="header__logo-link">
                            <img src="{% static 'clt/img/svg/odigo-Logo.svg' %}" alt="Discover Amazing places in Japan" class="header__logo-pic" />
                        </a>
                    </div>

                    <nav class="header__nav">
                        <ul class="header__list">
                            <li class="header__item">
                                <a href="#!" class="header__link">Articles</a>
                            </li>
                            <li class="header__item">
                                <a href="#!" class="header__link">Locations</a>
                            </li>
                            <li class="header__item">
                                <a href="#!" class="header__link">Videos</a>
                            </li>
                            <li class="header__item">
                                <a href="#!" class="header__link">Sign in</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--Header end-->

        <main class="main">
            <!--Intro start-->
            <section class="intro">
                <div class="wrapper">
                    <h1 class="intro__title">
                        Discover Amazing places in Japan
                    </h1>
                    <p class="intro__subtitle">
                        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
                    </p>

                    <form class="search-form">
                        <fieldset class="search-form__wrap">
                            <p class="search-form__info">
                                <input type="text" name="user_like_to_do" class="search-form__field" placeholder="What would you like to do?" />
                                <input type="text" name="user_like_to_go" class="search-form__field" placeholder="Where would you like to go?" />
                                <button type="submit" class="search-form__submit">search</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </section>
            <!--Intro end-->
            <!--Benefits start-->
            <section class="benefits">
                <div class="benefits__wrap">
                    <h2 class="benefits__title">
                        Benefits of Odigo
                    </h2>

                    <div class="benefits-cards">

                        <div class="benefits-card">
                            <div class="benefits-card__pic">
                                <img src="{% static 'clt/img/svg/church_Icon.svg' %}" alt="Welcome to Odigo!" class="benefits-card__thumb" />
                            </div>
                            <h3 class="benefits-card__title">
                                Welcome to Odigo!
                            </h3>
                            <p class="benefits-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                            </p>
                            <a href="#!" class="benefits-card__more">LEARN MORE</a>
                        </div>

                        <div class="benefits-card">
                            <div class="benefits-card__pic">
                                <img src="{% static 'clt/img/svg/person_Icon.svg' %}" alt="Your Personal Japan Guide" class="benefits-card__thumb" />
                            </div>
                            <h3 class="benefits-card__title">
                                Your Personal Japan Guide
                            </h3>
                            <p class="benefits-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                            </p>
                            <a href="#!" class="benefits-card__more">LEARN MORE</a>
                        </div>

                        <div class="benefits-card">
                            <div class="benefits-card__pic">
                                <img src="{% static 'clt/img/svg/building_Icon.svg' %}" alt="Promoting Local Businesses" class="benefits-card__thumb" />
                            </div>
                            <h3 class="benefits-card__title">
                                Promoting Local Businesses
                            </h3>
                            <p class="benefits-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                            </p>
                            <a href="#!" class="benefits-card__more">LEARN MORE</a>
                        </div>

                    </div>

                </div>
            </section>
            <!--Benefits end-->
            <!--Places start-->

            <section class="places">
                <div class="wrapper-full">

                    <div class="places__caption">
                        <h2 class="places__title section__title">
                            Get inspired for your next trip
                        </h2>

                        <a href="" class="places-view__all">VIEW ALL</a>
                    </div>
                
                    <div class="places-cards">

                        <figure class="places-card places-card__size_lg">
                            <img src="{% static 'clt/img/jpg/place1.jpg' %}" alt="Mount Fuji" class="places-card__pic places-card__pic_size-lg" />
                            <figcaption class="places-card__title">
                                Mount Fuji
                            </figcaption>
                            <a href="#!" class="places-card__link"></a>
                        </figure>

                        <figure class="places-card places-card__size_lg">
                            <img src="{% static 'clt/img/jpg/place2.jpg' %}" alt="Kyoto" class="places-card__pic places-card__pic_size-lg" />
                            <figcaption class="places-card__title">
                                Kyoto
                            </figcaption>
                            <a href="#!" class="places-card__link"></a>
                        </figure>

                        <figure class="places-card places-card__size_sm">
                            <img src="{% static 'clt/img/jpg/place3.jpg' %}" alt="Tokyo" class="places-card__pic places-card__pic_size-sm" />
                            <figcaption class="places-card__title">
                                Tokyo
                            </figcaption>
                            <a href="#!" class="places-card__link"></a>
                        </figure>

                        <figure class="places-card places-card__size_sm">
                            <img src="{% static 'clt/img/jpg/place4.jpg' %}" alt="Niigata" class="places-card__pic places-card__pic_size-sm" />
                            <figcaption class="places-card__title">
                                Niigata
                            </figcaption>
                            <a href="#!" class="places-card__link"></a>
                        </figure>

                        <figure class="places-card places-card__size_sm">
                            <img src="{% static 'clt/img/jpg/place5.jpg' %}" alt="Sapporo" class="places-card__pic places-card__pic_size-sm" />
                            <figcaption class="places-card__title">
                                Sapporo
                            </figcaption>
                            <a href="#!" class="places-card__link"></a>
                        </figure>

                    </div>

                </div>
            </section>

            <!--Places end-->

            <!--Tours start-->

            <div class="tours">
                <div class="wrapper-full">

                    <div class="tours__tour tour">
                        <div class="tour__pic">
                            <img src="{% static 'clt/img/jpg/Tour1.jpg' %}" alt="Prefecture in Focus: Tottori" class="tour__thumb" />
                        </div>
                        <div class="tour__info">
                            <h3 class="tour__title">
                                Prefecture in Focus: Tottori
                            </h3>
                            <p class="tour__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
                            </p>
                            <a href="#!" class="tour__link">
                                VIEW PREFECTURE
                            </a>
                        </div>
                    </div>

                    <div class="tours__tour tour">
                        <div class="tour__info">
                            <h3 class="tour__title">
                                Featured Neighborhood: Kyoto’s Arashiyama
                            </h3>
                            <p class="tour__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
                            </p>
                            <a href="#!" class="tour__link">
                                VIEW NEIGHBORHOOD
                            </a>
                        </div>
                        <div class="tour__pic">
                            <img src="{% static 'clt/img/jpg/Tour2.jpg' %}" alt="Featured Neighborhood: Kyoto’s Arashiyama" class="tour__thumb" />
                        </div>
                    </div>
                </div>
            </div>

            <!--Tours end-->

            <!--Top start-->

            <section class="top">
                <div class="wrapper-full">
                    <h2 class="top__title section__title">
                        Today top places to visit
                    </h2>

                    <div class="top__cards">
                        <div class="top__card">
                            <div class="top-card__pic">
                                <img src="{% static 'clt/img/jpg/Top1.jpg' %}" alt="NAGOYA" class="top-card__thumb" />
                                <div class="top-card__stats">
                                    <h3 class="top-card__title">
                                        NAGOYA
                                    </h3>
                                    <div class="top-card__likes">
                                        <span class="top-card__likes-value">
                                            221
                                        </span>
                                    </div>
                                    <div class="top-card__comments">
                                        <span class="top-card__comments-value">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="top-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                            </p>
                            <a href="#!" class="top-card__more">
                                SEE MORE
                            </a>
                        </div>
                        <div class="top__card">
                            <div class="top-card__pic">
                                <img src="{% static 'clt/img/jpg/Top2.jpg' %}" alt="NIIGATA" class="top-card__thumb" />
                                <div class="top-card__stats">
                                    <h3 class="top-card__title">
                                        NIIGATA
                                    </h3>
                                    <div class="top-card__likes">
                                        <span class="top-card__likes-value">
                                            221
                                        </span>
                                    </div>
                                    <div class="top-card__comments">
                                        <span class="top-card__comments-value">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="top-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                            </p>
                            <a href="#!" class="top-card__more">
                                SEE MORE
                            </a>
                        </div>
                        <div class="top__card">
                            <div class="top-card__pic">
                                <img src="{% static 'clt/img/jpg/Top3.jpg' %}" alt="OSAKA" class="top-card__thumb" />
                                <div class="top-card__stats">
                                    <h3 class="top-card__title">
                                        OSAKA
                                    </h3>
                                    <div class="top-card__likes">
                                        <span class="top-card__likes-value">
                                            221
                                        </span>
                                    </div>
                                    <div class="top-card__comments">
                                        <span class="top-card__comments-value">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="top-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                            </p>
                            <a href="#!" class="top-card__more">
                                SEE MORE
                            </a>
                        </div>
                        <div class="top__card">
                            <div class="top-card__pic">
                                <img src="{% static 'clt/img/jpg/Top4.jpg' %}" alt="SAITAMA" class="top-card__thumb" />
                                <div class="top-card__stats">
                                    <h3 class="top-card__title">
                                        SAITAMA
                                    </h3>
                                    <div class="top-card__likes">
                                        <span class="top-card__likes-value">
                                            221
                                        </span>
                                    </div>
                                    <div class="top-card__comments">
                                        <span class="top-card__comments-value">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="top-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                            </p>
                            <a href="#!" class="top-card__more">
                                SEE MORE
                            </a>
                        </div>
                        <div class="top__card">
                            <div class="top-card__pic">
                                <img src="{% static 'clt/img/jpg/Top5.jpg' %}" alt="UENO" class="top-card__thumb" />
                                <div class="top-card__stats">
                                    <h3 class="top-card__title">
                                        UENO
                                    </h3>
                                    <div class="top-card__likes">
                                        <span class="top-card__likes-value">
                                            221
                                        </span>
                                    </div>
                                    <div class="top-card__comments">
                                        <span class="top-card__comments-value">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="top-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                            </p>
                            <a href="#!" class="top-card__more">
                                SEE MORE
                            </a>
                        </div>
                        <div class="top__card">
                            <div class="top-card__pic">
                                <img src="{% static 'clt/img/jpg/Top6.jpg' %}" alt="SHIBUYA" class="top-card__thumb" />
                                <div class="top-card__stats">
                                    <h3 class="top-card__title">
                                        SHIBUYA
                                    </h3>
                                    <div class="top-card__likes">
                                        <span class="top-card__likes-value">
                                            221
                                        </span>
                                    </div>
                                    <div class="top-card__comments">
                                        <span class="top-card__comments-value">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="top-card__desc">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                            </p>
                            <a href="#!" class="top-card__more">
                                SEE MORE
                            </a>
                        </div>
                    </div>

                </div>
            </section>

            <!--Top end-->
            
            <!--Videos start-->

            <div class="videos">
                <div class="videos__wrapper">
                    <div class="video__item"></div>
                        <iframe class="video__element" src="https://www.youtube.com/embed/6a-FnIqM0rI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                  
                </div>
            </div>

            <!--Videos end-->

        </main>

        <!--Footer start-->

        <footer class="footer">
            <div class="wrapper">
                <div class="footer-item">
                    <div class="footer-logo">
                        <img src="{% static 'clt/img/svg/odigo-Logo2.svg' %}" alt="Odigo" class="footer-logo__pic" />
                    </div>
                    <nav class="footer__nav">
                        <ul class="footer__menu">
                            <li class="footer__menu-item">
                                <h3 class="footer__menu-title">
                                    Company
                                </h3>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    About
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Team
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Careers
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                        <ul class="footer__menu">
                            <li class="footer__menu-item">
                                <h3 class="footer__menu-title">
                                    Location
                                </h3>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    About
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Team
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Careers
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                        <ul class="footer__menu">
                            <li class="footer__menu-item">
                                <h3 class="footer__menu-title">
                                    Social Media
                                </h3>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    About
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Team
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Careers
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>

        <!--Footer end-->
        <script src="{% static 'clt/test1/js/main.js' %}"></script>
    </body>
</html>