{% load static %}
<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'clt/test2/css/style.css' %}" />
    <title>Test2</title>
</head>
<body>
    <!--Header start-->
    <header class="header">
        <div class="header__wrapper">
            <div class="header-logo">
                <a href="#!" class="header-logo__link">
                    <img src="{% static 'clt/test2/img/png/logo.png' %}" alt="Летний дворец" class="header-logo__pic" />
                </a>
            </div>
            <nav class="header-menu">
                <ul class="header-menu__list">
                    <li class="header-menu__item">
                        <p class="main-button__border">
                            <a href="/" class="header-menu__item-link main-button">Главная</a>
                        </p>
                    </li>
                    <li class="header-menu__item">
                        <a href="#!" class="header-menu__item-link sofit-btn">SOFIT EVENT HOUSE</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#!" class="header-menu__item-link">МЕРОПРИЯТИЯ</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#!" class="header-menu__item-link">ТУРИСТАМ</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#!" class="header-menu__item-link">КЕЙТЕРИНГ</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#!" class="header-menu__item-link">ДЛЯ АГЕНТСТВ</a>
                    </li>
                </ul>
                <div class="header-menu__btn">
                    <img src="{% static 'clt/test2/img/svg/ext-menu.svg' %}" class="header-menu__thumb" />
                </div>
            </nav>
        </div>
    </header>
    <!--Header end-->

    <!--preview start-->

    <main>
        <div class="preview__wrapper">
            <div class="preview-card__wrapper">
                <div class="preview-card">
                    <img src="{% static 'clt/test2/img/jpg/Rectangle1.jpg' %}" alt="корпоративы" class="preview-card__pic" />
                    <div class="preview-card__panel-wrapper">
                        <h3 class="preview-card__title">
                            корпоративы
                        </h3>
                        <span class="preview-card__desc">
                            Отметьте лучший праздник
                            в лучшем дворце Петербурга!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--preview end-->
</body>
</html>