{% extends "../base_generic.html" %}
{% load static %}
{% load clt_tags %}
{% block title %}<title>Клиенты</title>{% endblock %}

{% block content %}
<main class="main-wrapper">
    {% comment %}
    {% include 'clt/country-dialog.html' %}
    {% endcomment %}

    {% popup_form 'City' 'city' %}
    {% popup_form 'Country' 'country' %}
    {% popup_form 'Client_Number' 'number' %}

    <div class="container">
        <!--section active clients start-->

        <section class="active-clients">
            <div class="title-block">
                <h2 class="title">активные клиенты</h2>
            </div>
            {% for country in countries %}
                <div class="addition-info__title-block country-title">
                    <h3 class="addition-info__title">{{ country }}</h3>
                </div>
                {% for city in cities %}
                    {% if city.country == country %}
                    <p class="city-title">{{ city }}</p>
                    <ul class="clients">
                        {% for client in active_clients %}
                        {% if client.city == city %}
                            <li class="client">
                                <p><a href="{{ client.get_absolute_url }}" class="client-link">{{ client }}</a>{% if client.title_comment %}({{ client.title_comment }}){% endif %}</p>
                                <a href="{% url 'clt:client-change' pk=client.id %}" class="client-edit__link">Редактировать</a>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </section>

        <!--section active clients end-->

        <!--section potential clients start-->
        <section class="potential-disabled">


            <div class="potential-clients">
                <div class="title-block">
                    <h2 class="title collapse" data-target="collapse1">потенциальные клиенты</h2>
                </div>

                <ul class="clients" data-id="collapse1">
                    {% for client in potential_clients %}
                            <li class="client">
                                <p><a href="{{ client.get_absolute_url }}" class="client-link">{{ client }}</a>{% if client.title_comment %}({{ client.title_comment }}){% endif %}</p>
                                <a href="{% url 'clt:client-change' pk=client.id %}" class="client-edit__link">Редактировать</a>
                            </li>
                    {% endfor %}
                </ul>
            </div>

            <!--section potential clients end-->

            <!--section disabled clients start-->

            <div class="disabled-clients">
                <div class="title-block">
                    <h2 class="title collapse" data-target="collapse2">отключенные клиенты</h2>
                </div>

                <ul class="clients" data-id="collapse2">
                    {% for client in disabled_clients %}
                            <li class="client">
                                <p><a href="{{ client.get_absolute_url }}" class="client-link">{{ client }}</a>{% if client.title_comment %}({{ client.title_comment }}){% endif %}</p>
                                <a href="{% url 'clt:client-change' pk=client.id %}" class="client-edit__link">Редактировать</a>
                            </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <!--section disabled clients end-->

        <!--section buttons clients start-->

            <section class="buttons__clients">
                <a id="add-client" href="{% url 'clt:client-add' %}" class="button-link button-st button-blue">Добавить клиента</a>
                <button id="add-country" data-target="country" class="button-st button-orange popup-button">Добавить страну</button>
                <button id="add-city" data-target="city" class="button-st button-orange popup-button">Добавить город</button>
                <button id="add-number" data-target="number" class="button-st button-orange popup-button">Добавить номер телефона</button>
            </section>

        <!--section buttons clients end-->
    </div>
</main>

{% endblock %}