 {% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}

<main class="main-wrapper">
    <div class="container">
        <!--section last-activity start-->
        <section class="last-activity">
            <div class="list-group">
                <div class="title-block">
                    <h2 class="title">Последняя активность</h2>
                </div>
                <ul class="last-activity__items">
                    <li class="last-activity__item">
                        <a href="#!" class="last-activity__client-name">Client name</a>
                        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
                    </li>
                    <li class="last-activity__item">
                        <a href="#!" class="last-activity__client-name">Client name</a>
                        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
                    </li>
                    <li class="last-activity__item">
                        <a href="#!" class="last-activity__client-name">Client name</a>
                        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
                    </li>
                    <li class="last-activity__item">
                        <a href="#!" class="last-activity__client-name">Client name</a>
                        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
                    </li>
                    <li class="last-activity__item">
                        <a href="#!" class="last-activity__client-name">Client name</a>
                        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
                    </li>
                    <li class="last-activity__item">
                        <a href="#!" class="last-activity__client-name">Client name</a>
                        <button id="last-activity__ssh" class="last-activity__ssh" title="Подключится к серверу"></button>
                    </li>
                </ul>
            </div>
        </section>
        <!--section last-activity end-->

        <!--section reminders start-->
        <section class="reminders">
            <div class="title-block">
                <h2 class="title">НАПОМИНАНИЯ</h2>
                <button id="add-reminder" class="add-reminder"></button>
            </div>
            <ul class="reminders-list">
                <li class="reminder-block">
                    <div id="new-reminder" class="new-reminder">
                        <img src="{% static 'clt/img/svg/notifier.svg' %}" alt="notifier" class="new-reminder__img">
                    </div>
                    <p class="reminder-text">
                        С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                        Равным образом новая модель
                    </p>
                </li>
                <li class="reminder-block">
                    <div id="new-reminder" class="new-reminder hide">
                        <img src="{% static 'clt/img/svg/notifier.svg' %}" alt="notifier" class="new-reminder__img">
                    </div>
                    <p class="reminder-text">
                        С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                        Равным образом новая модель...
                        С другой стороны выбранный нами инновационный путь требует от нас системного анализа ключевых компонентов планируемого обновления.

                        Равным образом новая модель
                    </p>
                </li>
            </ul>
        </section>
        <!--section reminders end-->
        
        <!--section addtional info start-->
        <section class="addition-info">
            <div class="addition-info__title-block">
                <h3 class="addition-info__title">Последние логи</h3>
            </div>

              <div class="card text-center">
                <div class="card-header">
                    Doroshenko D. 12.04.2020
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information about job</p>
                  <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information about job</p>
                  <hr>
                  <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>

              <div class="card text-center">
                <div class="card-header">
                    Doroshenko D. 12.04.2020
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information about job</p>
                  <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information about job</p>
                  <hr>
                  <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>

              <div class="card text-center">
                <div class="card-header">
                    Doroshenko D. 12.04.2020
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information about job</p>
                  <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information about job</p>
                  <hr>
                  <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
       
            <div class="addition-info__title-block">
                <h3 class="addition-info__title">Последние задачи</h3>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    <div class="addition-info__card-header">
                        <a href="#!" class="addition-info__hostname">Hostname</a>
                        <p class="addition-info__category">Category</p>
                    </div>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <div class="addition-info__info">
                    <h3 class="addition-info__info-title">Title of task</h3>
                </div>
              <hr>
              <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>

              <div class="card text-center">
                <div class="card-header">
                    <div class="addition-info__card-header">
                        <a href="#!" class="addition-info__hostname">Hostname</a>
                        <p class="addition-info__category">Category</p>
                    </div>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <div class="addition-info__info">
                    <h3 class="addition-info__info-title">Title of task</h3>
                </div>
              <hr>
              <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>

              <div class="card text-center">
                <div class="card-header">
                    <div class="addition-info__card-header">
                        <a href="#!" class="addition-info__hostname">Hostname</a>
                        <p class="addition-info__category">Category</p>
                    </div>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <div class="addition-info__info">
                    <h3 class="addition-info__info-title">Title of task</h3>
                </div>
              <hr>
              <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>

        </section>
        <!--section addtional info end-->
    </div>
</main>

{% endblock %}