{% extends "base_generic.html" %}
{% load static %}
{% load clt_tags %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}

{% popup_form 'Reminder' 'reminder' %}

<main class="main-wrapper">
  <div class="container">
    <!--section last-activity start-->
    <!-- <div class="vertical-line"></div> -->
    <section class="last-activity">
      <div class="list-group">
        <div class="title-block">
          <h2 class="title">Последняя активность</h2>
        </div>
        <!-- popup ssh -->
        <div class="popup-ssh">
        </div>
        <!-- popup ssh end -->
        <ul class="last-activity__items">
          {% for client in last_active %}
          <li class="last-activity__item">
            <a href="#!" class="last-activity__client-name">{{client.name}}</a>
            <button id="last-activity__ssh-{{client.id}}" data-id="{{client.id}}" class="last-activity__ssh"
              title="Подключится к серверу"></button>
          </li>
          {% endfor %}

        </ul>
      </div>
    </section>
    <!--section last-activity end-->
    <!-- <div class="vertical-line"></div> -->
    <!--section reminders start-->
    <section class="reminders">
      <div class="title-block">
        <h2 class="title">НАПОМИНАНИЯ</h2>
        <button id="add-reminder" data-target="reminder" class="add-reminder popup-button"></button>
      </div>
      <ul class="reminders-list">
        {% for reminder in reminders %}
        <li data-id="{{reminder.id}}" class="reminder-block {%if user not in reminder.users.all%}active-notifier__reminder{%endif%}">
          {% if user not in reminder.users.all %}
          <div id="new-reminder" class="new-reminder">
            <img src="{% static 'clt/img/svg/notifier.svg' %}" alt="notifier" class="new-reminder__img">
          </div>
          {% endif %}
          <p class="reminder-text">{{reminder.text}}</p>
          <p class="card-footer text-muted reminder-footer">{{reminder.created_user.username}}: {{reminder.created_at}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!--section reminders end-->
    <!-- <div class="vertical-line"></div> -->
    <!--section addtional info start-->
    <section class="addition-info">
      <div class="addition-info__title-block">
        <h3 class="addition-info__title">Последние логи</h3>
      </div>

      <div class="card">
        <div class="card-header">
          Doroshenko D. 12.04.2020
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information
            about job</p>
          <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information
            about job</p>
          <hr>
          <a href="#" class="btn btn-primary button-blue">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          Doroshenko D. 12.04.2020
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information
            about job</p>
          <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information
            about job</p>
          <hr>
          <a href="#" class="btn btn-primary button-blue">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          Doroshenko D. 12.04.2020
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information
            about job</p>
          <p class="addition-info__info-row"><a href="#!" class="addition-info__hostname">hostname</a>: information
            about job</p>
          <hr>
          <a href="#" class="btn btn-primary button-blue">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="addition-info__title-block">
        <h3 class="addition-info__title">Последние задачи</h3>
      </div>

      <div class="card text-center">
        <div class="card-header">
          <div class="addition-info__card-header">
            <a href="#!" class="addition-info__hostname">Hostname</a>
            <p class="addition-info__category">Category</p>
          </div>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="addition-info__info">
            <h3 class="addition-info__info-title">Title of task</h3>
          </div>
          <hr>
          <a href="#" class="btn btn-primary button-blue">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          <div class="addition-info__card-header">
            <a href="#!" class="addition-info__hostname">Hostname</a>
            <p class="addition-info__category">Category</p>
          </div>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="addition-info__info">
            <h3 class="addition-info__info-title">Title of task</h3>
          </div>
          <hr>
          <a href="#" class="btn btn-primary button-blue">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          <div class="addition-info__card-header">
            <a href="#!" class="addition-info__hostname">Hostname</a>
            <p class="addition-info__category">Category</p>
          </div>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="addition-info__info">
            <h3 class="addition-info__info-title">Title of task</h3>
          </div>
          <hr>
          <a href="#" class="btn btn-primary button-blue">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

    </section>
    <!--section addtional info end-->
    <!-- <div class="vertical-line"></div> -->
  </div>
</main>

{% endblock %}